# node modules
node_modules/

# Sass source files (no necesarios en producción)
scss/**/*.scss

# Sourcemaps opcionales
css/*.css.map

# Archivos temporales
.DS_Store
*.log

# VSCode
.vscode/

# CSS legacy (temporal)
legacy.css

