// Paleta de colores base
$color-background: #f9f9f9;
$color-text: #333;
$color-primary: #0077ff;
$color-primary-hover: #005fd1;
$color-border: #ddd;
$color-footer-bg: #f0f0f0; 
$color-footer-text: #333;
$color-border: #ccc;
$color-copy-msg: green;
$color-copy-border: #0077ff33; 
