// Paleta de colores 
$color-background: #fdfaf6;
$color-text: #2e2e2e;
$color-primary: #c0392b;
$color-primary-hover: #a93226;
$color-border: #dcd2c2;
$color-footer-bg: #f5eee5;
$color-footer-text: #2e2e2e;
$color-copy-msg: green;
$color-copy-border: #c0392b33;
$color-project-card-bg: #f8e7e5; 
$color-heading: darken($color-text, 10%);
