@use '../settings/colors';
@use '../utilities/spacings';

.about {
  @include spacings.section-spacing();
  background-color: colors.$color-background;
  color: colors.$color-text;
  text-align: center;

  .about__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .about__description {
    font-size: 1.375rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
  }
}
