@use '../settings/colors';
@use '../utilities/spacings';

.footer {
  @include spacings.section-spacing();
  background-color: colors.$color-footer-bg;
  color: colors.$color-footer-text;
  text-align: center;
  border-top: 1px solid colors.$color-border;

  p {
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem; // más grande
    letter-spacing: 0.5px; // más estilizado
  }

  span {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.95rem;
    color: #666;
  }
}
