@use '../settings/colors';

body {
    background-color: colors.$color-background;
    color: colors.$color-text;
  }

  html {
    font-size: 18px; 
    scroll-behavior: smooth;
  }
  
  
  section {
    padding: 4rem 0;
  }
  
  section h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  